name: envirocar_app_main
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # for state management
  provider: ^5.0.0

  # for making http calls
  http: ^0.13.1

  # to securely store user info for silent signin
  flutter_secure_storage: ^4.1.0

  # for communicating with BLE devices on Android and iOS
  flutter_reactive_ble: ^3.1.1+1

  system_shortcuts: ^1.0.0

  # for getting user location
  geolocator: ^7.0.1
  latlong2: ^0.8.0
  flutter_map: ^0.13.1
  location: ^4.1.1

  # to launch App store and Play store to rate the app
  url_launcher: ^6.0.6

  # to preview the app on different screens sizes
  device_preview: ^0.7.3

  # for onboarding screens
  introduction_screen: ^2.1.0

  # for google maps
  google_maps_flutter: ^2.0.6

  # to display poly lines on map connecting two or more places
  flutter_polyline_points: ^1.0.0

  # to store small persistent data
  shared_preferences: ^2.0.6

  # to show SVGs
  flutter_svg: ^0.22.0

  # to use custom fonts
  google_fonts: ^2.1.0

  # to generate unique IDs
  uuid: ^3.0.4

  logger: ^1.0.0

  toast: ^0.1.5

  # for storing data locally
  sqflite: ^2.0.0+3
  hive: ^2.0.4
  hive_flutter: ^1.1.0

  # to follow good code guidelines by google
  lint: ^1.5.3

  # to get path of the app on the device
  path: ^1.8.0

  # to send notifications
  awesome_notifications: ^0.0.6+9


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  hive_generator: ^1.1.0
  build_runner: ^2.1.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/icons/
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
