name: CI
# Run the workflow when pull request is created to any branch
on:
  pull_request:
    types: [opened, reopened]

jobs:
  flutter_test:
    name: Run flutter test and analyze
    runs-on: ubuntu-latest
    steps:
      # Setup Java environment in order to build the Android app
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"

      # Setup the flutter environment
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"

      # Get flutter dependencies
      - run: flutter pub get

  build_ios:
    name: Build Flutter (iOS)
    needs: [flutter_test]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: flutter pub get
      - run: flutter clean

      # Build iOS app
      - run: flutter build ios --release --no-codesign

      # Upload the iOS build to GitHub as artifact
      - uses: actions/upload-artifact@v1
        with:
          name: ios-app
          path: /Users/runner/work/enviroCar-Cross-Platform-App/enviroCar-Cross-Platform-App/build/ios/iphoneos

  build_appbundle:
    name: Build Flutter (Android)

    # Runs only when Flutter test executes successfully
    needs: [flutter_test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: flutter pub get

      # Clean any previous builds
      - run: flutter clean

      # Build apk
      - run: flutter build apk

      # Upload the build as artifact
      - uses: actions/upload-artifact@v1
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
